nav
{
	width: 150px;
	border: 1px black solid;
	display: inline-block;
	vertical-align: top;
}
section
{
	border: 1px blue solid;
	display: inline-block;
}
.img
{
	display: block;
	height: 300px;
	width: 300px;
}